@media screen and (orientation: landscape){
  
    #flexContainer{
    display:flex;
    flex-direction: row;
    gap: 23vw;
    width: 100vw;
    height:100vh;
    align-items:center;
    }
}

@media screen and (orientation: portrait) {
  
    #flexContainer{
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      gap: 0vh;
      width:40vw;
      left:10vw;
      top: 0vh;
  }
}

header{
    top:0;
    height:100px;
    width: 100vw;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    position:sticky;
    z-index:1000;
}
header a{
    text-decoration: none;
    color: #000;
    margin-top: 50%;
    left: 10px;
}

#flexContainer{
    position:absolute;
    height:100vh;
    align-content:center;
    justify-content:space-between;
}
     
.flexItem{
    position:relative;
    color:white;
    padding:1vw;
    flex: 1 1;
    font-family:"Monaco", "Courier New", monospace;
    font-size:1.2em;
    font-weight: 1000;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F6Efd2;
}
#heroImage{
    position: fixed;
    width:100vw;
    height: 90vh;
    top:100px;
    background-image: url("../images/ful.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#F6Efd2;
}