body{
    padding: 0;
    margin: 0;
}
nav{
    z-index: 1000;
    top:0;
    height:100px;
    width: 100vw;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    position:sticky;
    box-shadow: 0 3px 3px #ece;
}
nav a{
    text-decoration:none;
    color: black;
}
#bread-basket{
    display:flex;
    justify-content:center;
}
#bread{
    background-color:#fcf;
    border-radius: 10px;
    height:25vh;
    width:50vw;
    left:auto;
}

#carousel-container{
    top: 70vh;
    display:flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    top: 60vh;
    z-index: 1;
}
.carousel-content{
    user-select: none;
    width: 80%;
    height: 100%;
}
.carousel-content img{
    border-radius: 10px;
}
.change-pic{
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 100px;
    text-align: center;
    width: 50px;
    height: 100px;
    background-color: #fcf;
    border-radius: 10px;
    z-index: 0;
}
#floor-graphics{
    position:absolute;
    left: calc(50vw - 15vw / 2);
    top: calc(80vh + 100px);
    display:flex;
    width: 15vw;
    height: 1vh;
    background-color: #fff;
    justify-content: stretch;
    border-radius: 0.5vh;
    box-shadow: 0 0 5px #fcf;
}
#floor-graphics div{
    flex-grow:1;
    height: 100%;
    background-color: #fff;
    border-radius:0.5vh;
}
#carousel-container img{
    width: 100%;
    height: 100%;
}
#which-pic0{
    background-color: gray;
}