body{
    padding: 0;
    margin: 0;
}
header{
    z-index: 1000;
    top:0;
    height:100px;
    width: 100vw;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    position:sticky;
}
header a{
    text-decoration:none;
    color: black;
}
#carousel-container{
    top: 70vh;
    display:flex;
    background-color: #bbbbbbbb;
    height: 60vh;
    justify-content: center;
    align-items: center;
    top: 60vh;
    z-index: 1;
}
.carousel-content{
    user-select: none;
    background-color: antiquewhite;
    border:1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100%;
}
.carousel-content img{
    border-radius: 10px;
}
.change-pic{
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 100px;
    text-align: center;
    width: 50px;
    height: 100px;
    background-color: #fcf;
    border-radius: 10px;
}
#floor-graphics{
    display:flex;
    width: 100vw;
    height: 1vh;
    background-color: #ccf;
    justify-content: center;
}
#floor-graphics div{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    width: 5vw;
    height: 100%;
    background-color: #ccf;
    margin: 0 10px 0 10px;
}
#carousel-container img{
    width: 100%;
    height: 100%;
}
#which-pic0{
    background-color: gray;
}